/* WeatherForecast.module.css */
.bg {
    background: linear-gradient(to right, #74ebd5, #acb6e5);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  